<h2>Song Search</h2>
<div class="form-group">
  <input class="form-control" type="search" placeholder="search" [(ngModel)]="searchText"/>
  <button (click)="search()" class="btn btn-primary">Search</button>
</div>
<spinner [enabled]="isSearching"></spinner>

<div *ngIf="songs.length > 0">
    
    <table class="table table-condensed">
        <thead>
            <th>Song</th>
        </thead>
        <tbody>
            <tr *ngFor="#song of songs">
                <td>{{song.name}}</td>
               </tr>
        </tbody>
    </table>
</div>