<h2>Song Search</h2>
<div class="form-group">
  <input class="form-control" type="search" placeholder="search" [(ngModel)]="searchText"/>
  <button (click)="search()" class="btn btn-primary">Search</button>
</div>
v2
<spinner [enabled]="isSearching"></spinner>

<div *ngIf="songs && songs.length > 0">
    
    <table class="table table-condensed">
        <thead>
            <th>Song</th>
        </thead>
        <tbody>
            <tr class="song" [class.selected]="song.isSelected" *ngFor="#song of songs" (click)="selectSong(song)">
                <td><a [routerLink]="['EditSong',{id:song.id}]">{{song.name}}</a></td>
                <div *ngIf="song.showDetails">
                <song-detail [song]="song" (closeMe)="closeDetails($event)"></song-detail>
                </div>
               </tr>
        </tbody>
    </table>
    
</div>