.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}

.glyphicon:hover{
  cursor: pointer
}
.glyphicon-remove{
  color:red;
}

body{
  padding:5px;
}
